:root {
    font-size: 20px;
    font-family: var(--f-family-system);
    color: var(--figma-color-text);
}

body {
    padding: 1rem 1rem 2rem;
    background-color: var(--figma-color-bg-secondary);
}